.landing {
  width: 100vw;
  height: 600px;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #232323;
}
.info {
  width: 50%;
  height: 80%;
  padding-top: 100px;
}
.graphic {
  width: 50%;
  height: 80%;
}
.mobileanimation {
  display: none;
}
.heading {
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  color: #e2e2e2;
  margin: 0;
}
.bodytext {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #e2e2e2;
  line-height: 30px;
  margin: 5px;
}
.projectbutton {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  position: absolute;
  margin-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #e2e2e2;
  border: 2px solid #e2e2e2;
  border-radius: 15px;
  background: rgba(39, 39, 39, 0.1);
  transition: 0.2s;

}
.projectbutton:hover {
  background-color: #e2e2e2;
  color: #232323;
}
.graphicwrapper {
  height: 50%;
  width: 40%;
  position: absolute;
}
.face {
  width: 250px;
  height: 250px;
  top: 130px;
  right: 50px;
  position: absolute;
  background-image: url("/justinface.svg");
}
.bubble1 {
  opacity: 0%;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background: #474747;
  position: absolute;
  top: 70px;
  right: 220px;
  animation: fadein 0.3s ease-in 0.3s forwards, bubbleup 2s ease-in-out 0s infinite alternate,
  colorchange 4s linear 0s infinite alternate-reverse;
}
.bubble2 {
  opacity: 0%;
  width: 200px;
  height: 110px;
  border-radius: 15px;
  background: #474747;
  position: absolute;
  top: 230px;
  right: 160px;
  animation: fadein 1s ease-in 0.1s forwards, bubbleup 2s ease-in-out 1s infinite alternate,
  colorchange2 4s linear 0s infinite alternate;
}
.bubble3 {
  opacity: 0%;
  width: 140px;
  height: 100px;
  border-radius: 15px;
  background: #474747;
  position: absolute;
  top: 310px;
  right: 190px;
  animation: fadein 1s ease-in 0.2s forwards, bubbleup 2s ease-in-out 0s infinite alternate,
  colorchange 3s linear 0s infinite alternate-reverse;
}
.bubble4 {
  opacity: 0%;
  width: 100px;
  height: 110px;
  border-radius: 15px;
  background: #474747;
  position: absolute;
  top: 310px;
  right: 0px;
  animation: fadein 1s ease-in 0.3s forwards, bubbleup 2s ease-in-out 0.2s infinite alternate,
  colorchange2 3s linear 0s infinite alternate-reverse;
}
.bubble5 {
  opacity: 0%;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background: #474747;
  position: absolute;
  top: 90px;
  right: 70px;
  animation: fadein 1s ease-in 0.2s forwards, bubbleup 2s ease-in-out 1s infinite alternate,
  colorchange 4s linear 0s infinite alternate;
}
.bubble6 {
  opacity: 0%;
  width: 100px;
  height: 150px;
  border-radius: 15px;
  background: #474747;
  position: absolute;
  top: 110px;
  right: 20px;
  animation: fadein 1s ease-in 0.1s forwards, bubbleup 2s ease-in-out 0.5s infinite alternate,
  colorchange2 3s linear 0s infinite alternate;
}
.mobilebubble1 {
  opacity: 0%;
  width: 170px;
  height: 150px;
  border-radius: 15px;
  background: #474747;
  position: absolute;
  bottom: 0px;
  left: 20px;
  animation: fadein 0.3s ease-in 0.3s forwards, bubbleup 2s ease-in-out 0s infinite alternate,
  colorchange 4s linear 0s infinite alternate-reverse;
}
.mobilebubble2 {
  opacity: 0%;
  width: 100px;
  height: 200px;
  border-radius: 15px;
  background: #474747;
  position: absolute;
  bottom: 50px;
  left: -20px;
  animation: fadein 1s ease-in 0.1s forwards, bubbleup 2s ease-in-out 1s infinite alternate,
  colorchange2 4s linear 0s infinite alternate;
}
.mobilebubble3 {
  opacity: 0%;
  width: 140px;
  height: 100px;
  border-radius: 15px;
  background: #474747;
  position: absolute;
  bottom: 0px;
  right: 0px;
  animation: fadein 1s ease-in 0.2s forwards, bubbleup 2s ease-in-out 0s infinite alternate,
  colorchange 3s linear 0s infinite alternate-reverse;
}
.mobilebubble4 {
  opacity: 0%;
  width: 100px;
  height: 150px;
  border-radius: 15px;
  background: #474747;
  position: absolute;
  bottom: 30px;
  right: 0px;
  animation: fadein 1s ease-in 0.3s forwards, bubbleup 2s ease-in-out 0.2s infinite alternate,
  colorchange2 3s linear 0s infinite alternate-reverse;
}
.mobilebubble5 {
  opacity: 0%;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background: #474747;
  position: absolute;
  bottom: 200px;
  right: 70px;
  animation: fadein 1s ease-in 0.2s forwards, bubbleup 2s ease-in-out 1s infinite alternate,
  colorchange 4s linear 0s infinite alternate;
}
.mobilebubble6 {
  opacity: 0%;
  width: 100px;
  height: 150px;
  border-radius: 15px;
  background: #474747;
  position: absolute;
  bottom: 250px;
  right: 20px;
  animation: fadein 1s ease-in 0.1s forwards, bubbleup 2s ease-in-out 0.5s infinite alternate,
  colorchange2 3s linear 0s infinite alternate;
}
@keyframes fadein {
  100% {
    opacity: 40%;
  }
}
@keyframes bubbleup {
  100% {
    transform: translateY(15px);
  }
}
@keyframes colorchange {
  0% {
    background-color: #80ffb5;
  }
  50% {
    background-color: #80bbff;
  }
  100% {
    background-color: #d080ff;
  }
}
@keyframes colorchange2 {
  0% {
    background-color: #ecff80;
  }
  50% {
    background-color: #ff8080;
  }
  100% {
    background-color: #80ff80;
  }
}

@media (max-width: 812px) {
  .mobileanimation {
    display: initial;
  }
  .graphic {
    display: none;
  }
  .landing {
    height: 80vh;
  }
  .info {
    width: 100%;
    height: 100%;
    padding-top: 50px;
  }
  .heading {
    text-align: center;
    font-size: 11vw;
  }
  .bodytext {
    text-align: center;
    font-size: 6vw;
    line-height: 7vw;
  }
  .projectbutton {
    background: #e2e2e2;
    color: #232323;
    width: 80vw;
    bottom: 10vh;
    z-index: 100;
  }
  .heading {
    margin-bottom: 30px;
  }
}
@media (max-height: 500px) {
  .projectbutton {
    right: 10vw;
    width: 100px;
    height: 100px;
    bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

.projects {
  text-align: center;
  background: #232323;
}