.navbar {
    position: static;
    width: 100vw;
    height: 20vh;
    background-color: #232323;
    padding-left: 10vw;
    padding-right: 10vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 80px;
    height: 80px;
    background-image: url("/finallogo.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.buttons {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
}
.link {
    padding-left: 60px;
    color: #e2e2e2;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}
@media (max-width: 812px) {
    .buttons {
        flex-direction: column;
        text-align: end;
    }
    .link {
        padding-top: 3px;
        padding-bottom: 3px;
    }
  }